azure.ai.anomalydetector == 3.0.0b6
azure.core == 1.26.4
Flask == 2.2.3
Werkzeug == 2.2.3
Flask-Login == 0.6.2
Flask-SQLAlchemy == 3.0.3
azure.storage.blob == 12.15.0
python-dotenv == 1.0.0
pandas == 2.0.0