<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camaras</title>

    <link rel="stylesheet" href="../static/css/normalize.css"> <!--Esta sirve para normalizar la página web en todos los navegadores-->
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

    <link rel="preload" href="../static/css/camara.css" as="style">
    <link href="../static/css/camara.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/">
            <img src="../static/img/logo.png" alt="Logotipo" class="logo">
        </a>
    </header>

    <h2>Las cámaras de monitoreo son las siguientes:</h2>
    
    <div class="camara">
        <video width="636" height="360" autoplay muted>
            <source src="../static/vid/mothi.mp4" type="video/mp4">
        </video>
    </div>

</body>
</html>