<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MemorIA</title>

        <link rel="stylesheet" href="../static/css/normalize.css"> <!--Esta sirve para normalizar la página web en todos los navegadores-->

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

        <link rel="preload" href="../static/css/style.css" as="style">
        <link href="../static/css/style.css" rel="stylesheet">

        <!--<link rel="stylesheet" href="../views.py">-->
    </head>
    <body>

        <header class="header">
            <a href="/">
                <img src="../static/img/logo.png" alt="Logotipo" class="logo">
            </a>
        </header>

        <div class="nav_bg">
            <nav class="navegacion_principal contenedor"> <!--Pueden haber más de una clase usando espacios-->
                <a href="/perfil">Perfil</a>
                <a href="#">Configuración</a>
                <a href="/camaras">Cámaras</a>
            </nav>
        </div>
        
        <main class="contenedor sombra">        
            <h2>Monitoreo del paciente</h2>

            <div class="servicios">
                <section class="servicio">
                    <div class="iconos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="11" r="3" />
                            <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                        </svg>
                    </div>
                    <a href="#">Ubicación</a>
                </section>

                <section class="servicio">
                    <div class="iconos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-medical" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                            <rect x="9" y="3" width="6" height="4" rx="2" />
                            <line x1="10" y1="14" x2="14" y2="14" />
                            <line x1="12" y1="12" x2="12" y2="16" />
                        </svg>
                    </div>
                    <a href="/medicamentos">Medicamentos</a>
                </section>

                <section class="servicio">
                    <div class="iconos">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-headphones" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <rect x="4" y="13" rx="2" width="5" height="7" />
                            <rect x="15" y="13" rx="2" width="5" height="7" />
                            <path d="M4 15v-3a8 8 0 0 1 16 0v3" />
                        </svg>
                    </div>
                    <a href="#">Musicoterapia</a>
                </section>
            </div>  
            

            <section>
                <h2>Alertas</h2>

                <form class="formulario">
                    <fieldset>
                        <div class="contenedor-campos">
                            <div class="campo">
                                <label>Alerta</label>
                                <input class="input-text1" type="text">
                            </div>
                            
                            <div class="campo">
                                <label>Fecha y hora</label>
                                <input class="input-text2" type="text">
                            </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </section>
        </main>
    </body>
</html>