:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #00abfb;
    --gris: #757575;
    --gris_claro: #DFE9F3;

    --fuente-principal: 3.8rem;
}

/*Globales*/

html {
    font-size: 62.5%;
    box-sizing: border-box; /*Esta línea ayuda al problema con el padding y la modificación del tamaño Hack para Box Model*/
    scroll-snap-type: y mandatory; /*Hará el scroll snap de arriba hacía abajo*/
}   

*, *:before, *:after { /*El primer asterisco selecciona a todos los elementos es un selector universal, la coma es una forma de ahorrar código en cuanto a las*/
    box-sizing: inherit; /*propiedades duplicadas que se aplicarán a los elementos y el after son pseudoelementos*/
}


@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}

h2{
    font-size: 3rem;
    text-align: center;
}

.header{
    display: flex;
    justify-content: center;
}

.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.formulario {
    background-color: var(--secundario);
    width: min(60rem, 100%);/**Utiliza el valor más pequeño**/
    margin: 0 auto; /**Este se utiliza cuando se tiene un elemento cuyo padre no es un display flex**/
    padding: 2rem;
    border-radius: 1rem ;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 17rem;
}

.input-text {
    font-size: 2rem;
    width: 100%;
    height: 1rem;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}